.header {
    max-width: 880px;
    margin: auto;
}

.header__title {
    margin-top: 45px;
}


@media screen  and (max-width: 842px){
    .header{
        margin: auto;
    }
    
}

@media screen and (max-width: 560px){
    
    .header{
        max-width: 320px;
        margin: auto;

    }

    .header__title{
        max-width: 126px;
        margin-left: 27px;
    }

}
