.element {
  max-width: 282px;
  max-height: 361px;
  background: #fff;
  color: #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}

.element__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.element__text {
  margin-right: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 21px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  text-decoration-skip-ink: none;
}

.element__remove-card {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  background: none;
}

.element__remove-card:hover {
  opacity: 60%;
}

.element__button-like {
  margin-right: 30px;
  max-height: 19px;
  background: #fff;
  display: flex;
  align-items: center;
  border: 0;
}

.element__button-like_active {
  background-image: url(../images/Union.svg);
  opacity: 1;
}

.element__button-like:hover {
  opacity: 60%;
}

.element__text-like {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .element {
    max-width: 261px;
  }

  .element__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 620px) {
  .element {
    max-width: 282px;
  }
}
