.profile {
  color: #fff;
  margin-top: 40px;
  display: flex;
}

.profile__avatar-container {
  position: relative;
  cursor: pointer;
}

.profile__avatar-edit-button {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.profile__avatar-container:hover .profile__avatar-edit-button {
  opacity: 1;
}

.profile__image-avatar {
  width: 26px;
  height: 26px;
  object-fit: cover;
}

.profile__info {
  max-width: 415px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 165px;
  padding-top: 22px;
  align-items: center;
}

.profile__image {
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile__name {
  min-width: 373px;
  margin-bottom: 0;
  margin-top: 0;
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.profile__occupation {
  width: 145px;
  margin-top: 16px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.profile__edit {
  display: flex;
  max-height: 24px;
}

.profile__button-edit {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  padding: 0px;
  border: solid white 1px;
}

.profile__button-edit:hover {
  opacity: 60%;
}

.profile__add {
  display: flex;
  align-items: center;
}

.profile__add:hover {
  opacity: 60%;
}

.profile__button-add {
  width: 150px;
  height: 50px;
  background: #000;
  border: solid white 1px;
}

@media screen and (max-width: 968px) {
  .profile {
    max-width: 560px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__info {
    align-items: self-end;
    margin: auto;
    margin-top: 30px;
  }

  .profile__name {
    min-width: 350px;
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 30px;
    line-height: 27px;
    text-align: left;
  }

  .profile__occupation {
    margin-top: 16px;
    margin-left: 10px;
    line-height: 24px;
    font-size: 16px;
  }

  .profile__add {
    max-height: 50px;
    margin-top: 25px;
    margin-bottom: 36px;
  }

  .profile__button-add {
    min-width: 282px;
    height: 50px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    max-width: 282px;
    flex-wrap: wrap;
  }

  .profile__info {
    min-width: 282px;
    max-height: 50px;
    margin: auto;
    align-items: center;
  }

  .profile__name {
    min-width: 196px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 55px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }

  .profile__image {
    margin: auto;
    margin-bottom: 30px;
  }

  .profile__edit {
    margin-left: 10px;
  }

  .profile__button-edit {
    max-width: 18px;
    max-height: 18px;
    margin-left: 0;
  }

  .profile__occupation {
    margin: auto;
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .profile__add {
    max-width: 282px;
    max-height: 50px;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .profile__button-add {
    width: 282px;
    height: 50px;
  }
}
